@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #260f08;
    border-radius: 5px;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #260f08;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}
